.projects {
  min-height: 100vh;
  background-image: url('../assets/images/sections/projects.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 60px;
  overflow-x: hidden;
}

.projects .line {
  width: 9.5rem;
}

.projects-nav {
  margin-top: 50px;
  margin-bottom: 40px;
}

.projects-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projects-nav li {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}

.projects-nav li.active {
  color: rgb(175, 227, 33);
  font-weight: bold;
}

.projects-nav li:hover {
  color: rgb(175, 227, 33);
}

.projects-nav li::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: transparent;
  transition: 0.8s;
  margin-top: 5px;
}

.projects-nav li:hover::after,
.projects-nav li.active::after {
  background: rgb(175, 227, 33);
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto; 
  padding: 0 20px; 
}

.project-card {
  position: relative;
  width: 400px;
  height: 300px; 
  margin: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.5s forwards; /* Fade in effect */
}

.project-card.show {
  opacity: 1; /* Show when class is added */
}

.project-card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: rgb(175, 227, 33);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.project-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
