@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    width: 10px;
    height: 30px;
  }
  
  body::-webkit-scrollbar-track {
    background: #0D1E31; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 8px; 
    border: 3px solid #0D1E31;
    height: 10px;
  }

  .head {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    animation: slideInFromLeft 2s ease-out;
  }
  
  .head p {
    font-size: 30pt;
    font-weight: bold;
  }

.line {
    background-color: white;
    height: 5px;
  }
